@charset "UTF-8";
/* CSS Document created by Paulina Matheu, March 25, 2019*/
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.3em;
	color: #FFFFFF;
	background-color: #6F6F7F;
	padding: 0 40px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #FFFFFF;
}
h1 {
	font-size: 24px;
	padding: 4px 0;
	font-variant: small-caps;
	letter-spacing: .5em;
	line-height: 1.3em;
}
h2 {
	font-size: 20px;
	padding: 6px;
	font-variant: small-caps;
	letter-spacing: 0.5em;
	background-color: #7F2626;
}
h3 {
	font-size: 17px;
	letter-spacing: 0.5em;
	border-bottom-width: 1px;
	border-bottom-style: inset;
	border-bottom-color: #000000;
	padding: 4px 0;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #7F2626;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a:hover {
	color: #7F2626;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 14px;
}

/* table styles -------------------------------------- */
table {
	border: solid #000000 1px;
}
td {
	padding: 6px;
	border: solid #000000 1px;
}
th {
	font-weight: bold;
	background-color: #000000;
	text-align: center;
	padding: 6px;
	border: solid #000000 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #000000 1px;
}

img {
	border: solid #000000 1px;

}

iframe {
	border: solid #000000 1px;
	padding: 8px;
	margin: 8px;
/** DIV STYLES FOR PAGE LAYOUT */
#container {
	width:900px;
	margin:0 auto;
	padding:40px;
	background-color:#6F6F7F;
	overflow:hidden;
}
#header{
	width:900px;
	background-color:#6F6F7F;
	border-bottom: 1px solid #000000;
	padding-bottom: 40px;
}
#content{
	width:600px;
	float:left;
	padding-bottom: 40px;
}
#sidebar{
	width:300px;
	float:left;
}
#footer{
	width:100%;
	background-color:#6F6F7F;
	border-top:1px solid #000000;
	padding:40px 0;
	clear:both;
}
